@model TayBac_28_06_17.Models.EntityModels.user

@{
    ViewBag.Title = "Create";
    // Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Header{
    Tài khoản người dùng
}
@section Script{
    <script src="~/Scripts/Controller/LoadAddress.js"></script>
}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">perm_identity</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">
                    Tạo tài khoản
                    <small class="text-success"> @ViewBag.Susscess</small>
                    <small class="text-danger"> @Html.ValidationSummary(true)</small>
                </h4>
                @using (Html.BeginForm("Create", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.TextBoxFor(model => model.trangthai, new { @Value = true, @type = "hidden" })
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label class="control-label">Tài khoản @Html.ValidationMessageFor(model => model.account)</label>
                                @Html.TextBoxFor(model => model.account, new { @class = "form-control" })
                                <span class="material-input"></span>
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label class="control-label">Mật khẩu @Html.ValidationMessageFor(model => model.pass)</label>
                                @Html.TextBoxFor(model => model.pass, new { @class = "form-control", @type = "password" })
                                <span class="material-input"></span>
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label class="control-label">Họ tên @Html.ValidationMessageFor(model => model.tennd)</label>
                                @Html.TextBoxFor(model => model.tennd, new { @class = "form-control" })
                                <span class="material-input"></span>
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-control">Ngày sinh @Html.ValidationMessageFor(model => model.ngaysinh)</label>
                                @Html.TextBoxFor(model => model.ngaysinh, new { @class = "form-control datepicker" })
                                <span class="material-input"></span>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label class="control-label">Email @Html.ValidationMessageFor(model => model.email)</label>
                                @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                                <span class="material-input"></span>
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group is-empty">

                                <label class="control-label">Điện thoại @Html.ValidationMessageFor(model => model.dienthoai)</label>
                                @Html.TextBoxFor(model => model.dienthoai, new { @class = "form-control" })
                                <span class="material-input"></span>
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label class="control-label">Tỉnh / TP @Html.ValidationMessageFor(model => model.idtinh)</label>
                                @Html.DropDownListFor(model => model.idtinh, new SelectList(ViewBag.getListTinhs, "Value", "Text"), new { @class = "form-control" })
                                <span class="material-input"></span>
                                <span class="material-input"></span>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label class="control-label">Quận / Huyện @Html.ValidationMessageFor(model => model.idhuyen)</label>
                                @Html.DropDownListFor(model => model.idhuyen, new SelectList(ViewBag.getListHuyens, "Value", "Text"), new { @class = "form-control" })
                                <span class="material-input"></span>
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="form-group is-empty">
                                <label class="control-label">Xã / phường @Html.ValidationMessageFor(model => model.idxa)</label>
                                @Html.DropDownListFor(model => model.idxa, new SelectList(ViewBag.getListXas, "Value", "Text"), new { @class = "form-control" })
                                <span class="material-input"></span>
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label class="control-label">Đơn vị @Html.ValidationMessageFor(model => model.donvi)</label>
                                @Html.TextBoxFor(model => model.donvi, new { @class = "form-control" })
                                <span class="material-input"></span>
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group is-empty">
                                <label class="control-label">Chức vụ @Html.ValidationMessageFor(model => model.chucvu)</label>
                                @Html.TextBoxFor(model => model.chucvu, new { @class = "form-control" })
                                <span class="material-input"></span>
                                <span class="material-input"></span>
                            </div>

                        </div>
                    </div>
                    if (TayBac_28_06_17.Commons.Constants.G_ADMIN == (Session[TayBac_28_06_17.Commons.Constants.SESSION_GROUPID] as string))
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group is-empty">
                                    <label class="control-label">Bệnh viện @Html.ValidationMessageFor(model => model.idbv)</label>
                                    @Html.DropDownListFor(model => model.idbv, new SelectList(ViewBag.getListHospitals, "Value", "Text"), new { @class = "form-control" })
                                    <span class="material-input"></span>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group is-empty">
                                    <label class="control-label">Quyền hệ thống @Html.ValidationMessageFor(model => model.kieuuser)</label>
                                    @Html.DropDownListFor(model => model.kieuuser, new SelectList(ViewBag.getListRoles, "Value", "Text"), new { @class = "form-control" })
                                    <span class="material-input"></span>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row" hidden>
                            @Html.TextBoxFor(model => model.idbv, new { @Value = (Session[TayBac_28_06_17.Commons.Constants.SESSION_HOSPITAL_ID] as string), @type = "hidden" })
                            @Html.TextBoxFor(model => model.kieuuser, new { @Value = TayBac_28_06_17.Commons.Constants.G_STAFF, @type = "hidden" })
                         </div>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group is-empty">
                                    <label class="control-label">Bệnh viện @Html.ValidationMessageFor(model => model.kieuuser)</label>
                                    <div class="form-control" disabled>@Session[TayBac_28_06_17.Commons.Constants.SESSION_HOSPITAL_NAME]</div>
                                    <span class="material-input"></span>
                                    <span class="material-input"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group is-empty">
                                    <label class="control-label">Quyền hệ thống @Html.ValidationMessageFor(model => model.kieuuser)</label>
                                    <div class="form-control" disabled>@TayBac_28_06_17.Commons.Constants.G_STAFF</div>
                                    <span class="material-input"></span>
                                    <span class="material-input"></span>
                                </div>

                            </div>
                        </div>

                    }
                    <div class="row">
                        <button type="submit" class="btn btn-rose pull-right col-md-4">Tạo tài khoản</button>
                    </div>

                    <div class="clearfix"></div>
                }
            </div>
        </div>
    </div>
    <div>
        <a href="@Url.Action(actionName: "Alls", controllerName: "User")">Back to List</a>
    </div>

</div>
